.create-comment {
    background-color: #252525;
    padding: .5em 1em;
    border-radius: 1em;
}

.create-comment .form {
    display: flex;
    gap: 1em;
    align-items: center;
    /* height: 3em; */
}

.create-comment .form h3 {
    min-width: fit-content;
    margin-right: 1em;

    flex: 1 1 10%;
}

.create-comment .form textarea {
    flex: 1 1 75%;
    font-size: .9em;
    padding:  1em 0;
    min-height: 3em;
    height: 3em;
    resize:vertical;
    color: beige;
    outline: none;
    background-color:#252525;
    border: none;
}

.create-comment .form button {
    font-size: 1em;
    height: 2em;
    border-radius: .5em;
    flex: 0 0 10%;
    border: none;
    background-color: yellowgreen;
    color: #252525;
}

.create-comment .form button:hover {
    transition: .3s ease-out;
    
    background-color:#252525;
    color: yellowgreen;
    cursor: pointer;
}

.create-comment .show {
    display: block;
    color: red;
    font-size: .8em;
}
.create-comment .hidden {
    display: none;
}

.comments ul li {
    list-style-type: none;
}

.comments ul {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.comments a {
    color: gold;
}

.comments .recipe-comment {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 1em;
    padding: 1em;
}

.comments .recipe-comment .removeBtn {
    position: absolute;
    right: -1em;
}

.comments .recipe-comment .editBtn {
    position: absolute;
    right: -2em;
}

.comments .recipe-comment .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: .2em;
}

.comments .comment-like.liked {
    background-color: red;
}

.comments .recipe-comment .date {
    font-style:italic;
}