.create-comment {
    background-color: #252525;
    padding: .5em 1em;
    border-radius: 1em;
}

.create-comment .form {
    display: flex;
    gap: 1em;
    align-items: center;
    /* height: 3em; */
}

.create-comment .form h3 {
    min-width: fit-content;
    margin-right: 1em;

    flex: 1 1 10%;
}

.create-comment .form textarea {
    flex: 1 1 75%;
    font-size: .9em;
    padding:  1em 0;
    min-height: 3em;
    height: 3em;
    resize:vertical;
    color: beige;
    outline: none;
    background-color:#252525;
    border: none;
}

.create-comment .form button {
    font-size: 1em;
    height: 2em;
    border-radius: .5em;
    flex: 0 0 10%;
    border: none;
    background-color: yellowgreen;
    color: #252525;
}

.create-comment .form button:hover {
    transition: .3s ease-out;
    
    background-color:#252525;
    color: yellowgreen;
    cursor: pointer;
}

.comments ul li {
    list-style-type: none;
}

.comments ul {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.recipe-comment {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 1em;
    padding: 1em;
}