.create-comment {
    background-color: #252525;
    padding: .5em 1em;
    border-radius: 1em;
}

.create-comment .form {
    display: flex;
    gap: 1em;
    align-items: center;
    /* height: 3em; */
}

.create-comment .form h3 {
    max-width: 10% ;
    overflow: hidden;
    /* min-width: fit-content; */
    margin-right: 1em;
    flex: 0 0 10%;
}

.create-comment .form a {
    max-width: 10em;
}

.comment-section {
    margin-top: 2em;
}

.create-comment textarea,
.comments textarea {
    flex: 1 1 75%;
    font-size: .9em;
    padding:  1em 0;
    min-height: 3em;
    height: 3em;
    resize:vertical;
    color: beige;
    outline: none;
    background-color:#252525;
    border: none;
}

.create-comment .form button {
    font-size: 1em;
    height: 2em;
    border-radius: .5em;
    flex: 0 0 10%;
    border: none;
    background-color: yellowgreen;
    color: #252525;
}

.create-comment .form button:hover {
    transition: .3s ease-out;
    
    background-color:#252525;
    color: yellowgreen;
    cursor: pointer;
}

.textfield {
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;

    gap: .5em;
}

.edit-form .show,
.create-comment .show {
    display: block;
    color: red;
    font-size: .8em;
}

.edit-form .hidden ,
.create-comment .hidden {
    display: none;
}

.comments ul li {
    list-style-type: none;
}

.comments ul {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.comments a {
    color: gold;
}

.comments .recipe-comment {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 1em;
    padding: 1em;
}

.create-comment { 
    width: 100%;
}

.create-comment a {
    font-weight: 800;
    text-decoration: none;
    color: #7288FF;
    /* margin: 0 calc(50%); */
}

.create-comment.login a {
    font-weight: 800;
    padding : .5em 1em;
    text-decoration: none;
    color: white;
    background-color: #7288ff;
    margin: 0 calc(50% - 6em);
}


.comments .recipe-comment .header-buttons {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    gap: .5em;
    /* height: 5em; */
    position: absolute;
    right: -7.5em;
    top: 0;
    padding: .5em .5em;
    border-radius: .5em;
}

.comments .recipe-comment .header-buttons > p {
    background-color: #151515;
    padding: .25em .5em;
    border-radius: .5em;
}

.comments .recipe-comment .removeBtn {
    font-weight: 600;
    color: darkred;
    border: 2px solid #151515;
}

.comments .recipe-comment .removeBtn:after {
    content: '🗑️';
    margin-left: .5em;
}
.comments .recipe-comment .removeBtn:hover {
    cursor: pointer;
    border: 2px solid darkred;

}

.recipe-comment .content {
    font-weight: 450;
    margin-top: .5em;
    color: navajowhite
}

.comments .recipe-comment .editBtn:after {
    content: '✏️';
    font-size: .8em;
    margin-left: .5em;
}


.comments .edit-form .buttons .confirmBtn[disabled] {
    cursor:not-allowed;
    background-color: grey;
}

.comments .recipe-comment .editBtn {
    font-weight: 600;
    color:aqua;
    border: 2px solid #151515;
}

.comments .recipe-comment .editBtn:hover {
    cursor: pointer;
    border: 2px solid aqua;
}

.comments .recipe-comment .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: .2em;
}

.comments .comment-like {
    font-size: .8em;
    font-weight: 600;
    width: 7em;
    padding-block: .5em;
    border: 2px solid darkred;
    background-color: darkred;
    color: beige;
    border-radius: .5em;
    /* transition: background-color .2s ease-in-out; */
}

.comments .comment-like:hover {
    cursor: pointer;
}

.comments .comment-like.liked {
    background-color: #252525;
    color: red;
    /* transition: background-color .2s ease-in-out; */
}

.comments .comment-like.liked:hover {
    cursor: pointer;
}

.comments .recipe-comment .date {
    font-style:italic;
}

.comments .edit-form {
    display: flex;
    gap: 1em;
    height: 100%;
}

.comments .edit-form .buttons {
    flex: 0 0 10%;
    margin-top: .5em;
    display: flex;
    gap: .5em;
    flex-direction: column;
}
.comments .edit-form .buttons button:hover {
    cursor: pointer;
}

.comments .edit-form .confirmBtn {
    border: 2px solid yellowgreen;
    background-color: yellowgreen;
    padding: .5em 0;
    height: 50%;
    color: #050505;
    font-size: .8em;
    font-weight: 600;
    border-radius: .5em;
    transition: background-color .2s ease-in-out
}
.comments .edit-form .confirmBtn:hover {
    background-color: #252525;
    color: yellowgreen;
}

.comments .edit-form .cancelBtn {
    border: 2px solid darkred;
    background-color: darkred;
    padding: .5em 0;
    height: 50%;
    color: beige;
    font-size: .8em;
    font-weight: 600;
    border-radius: .5em;
    transition: background-color .2s ease-in-out
}

.comments .edit-form .cancelBtn:hover {
    background-color: #252525;
    color: red;
}