.recipe-list {
    padding: 0 1em;
    position: relative;
}

.recipe-list .header-wrapper {
    width: fit-content;
    margin: 0 auto;

}

.recipe-list .header-wrapper h2 {
    padding: 0 1em;
    text-align: center;
    background-color: white;
    margin: 2em 0;
}

.recipe-list .line {
    width: 100%;
    height: 2px;

    position: absolute;
    top: 1.2em;

    z-index: -1;
    background-color: #000;
}

.recipe-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4em 1em;
    max-width: 1900px;
    margin: 0 auto;
}

