.site-header {
    display: flex;
    align-items: center;
    gap: 1em;
    /* width: 100vw; */
    justify-content: space-between;
    height: 5em;
    background-color: #151515;
    padding: 0 1em;
    border-bottom: 1px solid #252525;
}

.site-header .title {
    flex: 0 0 15%;
}

.site-header .subprofile {
    position: relative;
    background-color: #7288FF;
    border: 2px solid #7288FF;
    align-self: flex-end;
    margin-left: auto;
}

.site-header .subprofile:hover {
    background-color: unset;
    cursor: pointer;
}

.site-header h1 {
    font-size: 3.4em;
    font-weight: 900;
    color: white;
    position: relative;
    top: -6px;
    /* -webkit-text-stroke: 2px black; */
    line-height: 0.9;
}

.site-header form {
    height: 60%;
}

.site-header input {
    width: 100%;
    height: 100%;

    padding: 0.5em 2em;
    background-color: #222;
    color: white;

    border: 2px solid #5a5a5a;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
    /* outline:2px solid goldenrod; */
    border-radius: 50em;
}

.site-header input:hover {
    outline:2px solid goldenrod;
    /* border-radius: 50em; */
}

.site-header input:focus {
    outline:  2px solid goldenrod   /* border-radius: 50em; */
}

.site-header .searchbar-wrapper {
    position: relative;
    flex: 1 1 100%;
}

.site-header .backspace {
    position: absolute;
    color: white;
    right: 1em;
    height: 3em;
}

.site-header .backspace:hover {
    cursor: pointer;
    fill: #5a5a5a;
    transition: 3s ease-in;
}

.site-header .auth-buttons {
    flex: 0 1 15%;
    justify-content: flex-end;
    align-self: center;
    display: flex;
    gap: 1em;
}

.site-header p {
    font-size: 1.1em;
    font-weight: 900;
    padding: 0.6em 2em;
    white-space: nowrap;
}

.site-header .name {
    font-size: 1.1em;
    color: white;
}

.site-header .profile .hidden {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    max-width: 20em;
    overflow: hidden;
    /* width: 8em; */
}



.site-header .dropdown.hide {
    display: none;
}

.site-header .dropdown li button {
    height: 100%;
    width: 100%;
    font-size: 1em;
    background-color: unset;
    border: unset;
    color: orangered;
    cursor: pointer;
}


.site-header .dropdown li:last-child:hover {
    border: 2px solid darkred;
}

.site-header .dropdown {

    width: 8em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: #252525;
    position: absolute;
    top: 4em;
    right: 0;
    z-index: 100;
}

.site-header .dropdown li {
    background-color: #151515;
    border: 2px solid #151515;
    list-style-type: none;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding: 0.6em .5em;
    white-space: nowrap;
}

.site-header .dropdown li:hover {
    border: 2px solid beige;
    cursor: pointer;
}

.site-header .dropdown li a {
    font-size: .9em;
    color: beige;
    text-align: center
}

.site-header .login a {
    color: #7288FF;
}

.site-header .login a:hover {
    border-bottom: 2px solid #7288FF;
}

.site-header .signup a:hover {
    border-bottom: 2px solid #f222ac;
}

.site-header .signup a {
    color: #f222ac;
}

.site-header a {
    text-decoration: none;
    color: white;
}

.site-header .profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: beige;
}

.site-header .toggle {

    padding: 1em 1em;
    font-weight: 600;
    margin-left: auto;
    /* height: 2em; */
    border: unset;
}

.site-header .toggle:hover {
    cursor: pointer;
}

.site-header .navigation {
    flex: 1 1 60%;
    /* width: 100%; */
}

.site-header .nav-list {
    display: flex;
    justify-content: space-evenly;
}

.site-header .nav-list li {
    list-style-type: none;
}
.site-header .nav-list li a {
    color: white;
    font-size: 1.3em;
    font-weight: 800;
}

.site-header .nav-list li a:hover {
    color: magenta;
    text-decoration: underline;
}