.chat-page .chat {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 200px;
}

.chat-page .chat li {
    display: flex;
    width: 100%;
    list-style-type: none;
}

.chat-page .input {
    padding: 1em;
    border-radius: 1em;
    width: 1200px;
    /* margin-inline: auto; */
    display: flex;
    gap: .5em;
    align-items: center;
    background-color: #252525;
    border: 2px solid white;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)

}

.chat-page .input:hover {
    border: 2px solid cyan;
}


.chat-page .input h3 {
    padding: .2em .2em 0 0 ;

    flex: 0 1 15%;
    text-align: center;
    overflow: scroll;
    overflow-wrap: break-word;
    max-height: 4em;
}

.chat-page .input a {
    color: goldenrod;
    text-decoration: none;
}

.chat-page .input a:hover {
    text-decoration: underline;
}

.chat-page .input form {
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    gap: .5em;
}

.chat-page .input form .textarea-wrapper {
    flex: 1 0 60%;
}

.chat-page .input form .textarea-wrapper .error {
    color: red;
    font-size: .9em;
} 

.chat-page .input form .textarea-wrapper textarea {
    width: 100%;
    max-width: 100%;
    min-height: 2em;
    padding: .2em 1em;
    font-size: 1.1em;
    resize: vertical;
    outline: unset;
    border: unset;
    background-color: #252525;
    color: white;
    border-inline: 2px solid #353535;

}

.chat-page .input form .submit,
.chat-page .input form .sent {
    flex: 0 0 15%;
    height: 100%;
    margin-block: auto;
    padding: .5em 1em;
    border: unset;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    background-color: greenyellow;
    transition: background-color .15s ease-in-out,
                color .15s ease-in-out;
}

.chat-page .input form .sent {
    background-color: darkcyan;
    color: white;
}



.chat-page .input form .submit:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}
