:root {
    background-color: #151515;
}

.home-page {
    position: relative;
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}

.home-page .recipe-card .item {
    color: white;
     font-size: 1.2em;
    list-style-position: inside;
    width: 16ch; 
}