.recipe-page-wrapper {
    font-size: 1.2em;
    color: white;
    margin: 2em 4em;
}

.recipe-page-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.recipe-page-header h1 {
    font-size: 40px;
}

.recipe-page-header h4 a {
    color: rgb(118, 0, 253);
}

.recipe-page-header .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recipe-page-header .like-button {
    font-size: 1em;
    font-weight: 600;
    color: tomato;
    background-color: unset;
    border: 2px solid tomato;
    padding: .5em 1em;
    border-radius: .5em;
    width: 8em;
    text-align: center;
    text-decoration: none;
}

.recipe-page-header .like-button:hover {
    text-decoration: underline;
}

.recipe-page-wrapper .images {
    display: flex;
    gap: 1em;
}

.ingredients li,
.instructions li {
    list-style-position: inside;
}

.recipe-page-wrapper .checked {
    text-decoration: line-through;
}

li span,
.recipe-page-wrapper .wallets {
    color: navajowhite;
}

.recipe-page-wrapper .wallets {
    padding-left: 1em;
}

.recipe-page-wrapper .author a {
    color: gold;
    text-decoration: none;
}

.recipe-page-wrapper .author a:hover {
    text-decoration: underline;
}

.recipe-page-wrapper .wallet code {
    font-weight: 700;
    background-color: #101010;
    font-size: .85em;
    color: green;
}

.recipe-page-wrapper .tags {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.recipe-page-wrapper .tags a {
    color: greenyellow;
    padding: .1em;
    text-decoration: none;
}

.recipe-page-wrapper .tags a:hover {
    text-decoration: underline;
}

.heart-icon {
    color: red;
}