@import url(RecipeList.css);

.recipes-wrapper .recipe-list.list {
    column-count: 1;
}


 .recipe-page-list .recipe-list button {
    position: relative;
}

.filter-menu {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin: 1em 0;
}

.filter-container {
    justify-content: flex-end;
    width: 720px;
}

.recipes-wrapper .create-btn {
    padding: .25em 1em;
    width: 10em;
    border: 2px solid white;
    background-color: white;
    color: #101010;
    text-decoration: none;
    margin: 0 calc(50% - 5em);
}

.filter-container button {
    margin-left:calc(100% - 5em);
    width: 5em;
    padding: .5em .75em;
    border: none;
}

select {
    border: none;
    padding: .5em .75em;
}

.recipes-wrapper {
    width: 40em;
    margin: 0 auto;
}

.recipes-wrapper .form {
    /* position: absolute; */
    color: beige;
}

