.recipe-page-wrapper {
    font-size: 1.2em;
    color: white;
    margin: 2em;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.recipe-page-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.recipe-page-header h1 {
    font-size: 40px;
    position: relative;
}


.recipe-page-wrapper .section-heading {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.recipe-page-wrapper .section-heading .edit-btn,
.recipe-page-header span {
    z-index: 10;
    font-size: 1rem;
    height: 2em;
    background-color:dodgerblue;
    padding: .25em 1em;
    color: white;
    cursor: pointer;
}

.recipe-page-header .title { 
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}



.hide {
    display: none;
}

.recipe-page-header h4 a {
    color: rgb(118, 0, 253);
}

.recipe-page-header .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recipe-page-wrapper .like-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: unset;
    border: 2px solid white;
    padding: .5em 1em;
    width: 8em;
    text-align: center;
    text-decoration: none;
    transform: background-color .3s ease-in;
}

.recipe-page-wrapper .delete-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: red;
    border: 2px solid red;
    padding: .5em 1em;
    width: 8em;
    text-align: center;
    text-decoration: none;
    transform: background-color .3s ease-in;
}

.recipe-page-wrapper .delete-button:hover {
    background-color: unset;
    color: red;
    border: 2px solid red;
    cursor: pointer;
}

.recipe-page-wrapper .like-button.true {
    background-color: unset;
    color: tomato;
    border: 2px solid tomato;
}


.recipe-page-wrapper .like-button:hover {
    cursor: pointer;
}

.recipe-page-wrapper .images {
    display: flex;
    gap: 1em;
}

.recipe-page-wrapper .checked {
    text-decoration: line-through;
}

.recipe-page-wrapper .description {
    background-color: #341900;
    border-left: 1em solid orange;
    color: white;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 456;

}

li span,
.recipe-page-wrapper .wallets {
    color: navajowhite;
}

.recipe-page-wrapper .wallets {
    padding-left: 1em;
}

.recipe-page-wrapper .author a {
    color: gold;
    text-decoration: none;
}

.recipe-page-wrapper .author a:hover {
    text-decoration: underline;
}

.recipe-page-wrapper .wallet code {
    font-weight: 700;
    background-color: #101010;
    font-size: .85em;
    color: green;
}

.recipe-page-wrapper .tags {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.recipe-page-wrapper .tags a {
    color: greenyellow;
    padding: .1em;
    text-decoration: none;
}

.recipe-page-wrapper .tags a:hover {
    text-decoration: underline;
}

.heart-icon {
    color: red;
}