.star {
  font-size: 3em;
}

.stars {
  text-wrap: nowrap
}

.star-rating {
  margin-inline: 43%;;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating .star-deselect {
  color: beige;
  font-size: 1em;
  font-weight: 700;
}

.star-rating .star-deselect:hover {
  color: violet;
  text-decoration:underline;
}
.star-rating .on {
  color: yellow;
}
.star-rating .off {
  color: #ccc;
}
