.star {
  font-size: 3em;
}

.stars {
  text-wrap: nowrap
}

.star-rating {
  /* margin-inline: 43%;; */
  display: flex;
  gap: 1em;
  width: fit-content;
  padding: .5em 1em;
  border-radius: 1em;
  /* margin: 0 auto; */
  background-color: #252525;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 1em;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating .star-deselect {
  height: auto;
  padding: 0;
  color: beige;
  font-size: 1em;
  font-weight: 700;
}

.star-rating .star-deselect:hover {
  /* text-decoration:underline; */
  color: yellow;
}
.star-rating .on {
  color: yellow;
}
.star-rating .off {
  color: #ccc;
}
